{% set cardUrl = item.url | url | default("#") %}
{% set cardTitle = item.data.title | default("Untitled Item") %}
{% set cardDescription = item.data.description %}
{% set cardDate = item.date %}

<div class="border rounded-lg overflow-hidden shadow-lg transition-shadow duration-300 hover:shadow-xl h-full flex flex-col">
    {% if item.data.image %}
    <img class="w-full h-48 object-cover" decoding="async" src="{{ item.data.image | url }}" alt="{{ cardTitle }} image" loading="lazy" />
    {% endif %}
    <div class="p-6 flex-grow">
        <a href="{{ cardUrl }}" class="no-underline text-current group">

            <h3 class="font-bold text-xl mb-2 group-hover:text-blue-600 transition-colors duration-300">
                {{ cardTitle }}
            </h3>

            {% if cardDate %}
            <p class="text-gray-600 text-sm mb-4">{{ cardDate | formatDateLong }}</p>
            {% endif %}
            
            {% if cardDescription %}
            <p class="text-gray-700">
                {{ cardDescription }}
            </p>
            {% endif %}
        </a>
    </div>
</div>
