<div class="c-card">
    {% if item.data.image %}
    <img class="c-card__image" decoding="async" src="{{ item.data.image | url }}" alt="{{ item.data.title }} image" loading="lazy" />
    {% endif %}
    <div class="c-card__body">
        <a href="{{ item.url | url }}" class="c-card__link group">

            <h3 class="c-card__title">
                {{ item.data.title | default("Untitled Item") }}
            </h3>

            {% if item.date %}
            <p class="c-card__date">{{ item.date | formatDateLong }}</p>
            {% endif %}
            
            {% if item.data.description %}
            <p class="c-card__description">
                {{ item.data.description }}
            </p>
            {% endif %}
        </a>
    </div>
</div>
