{% if item %}
<article class="c-item">
	<a href="{{ item.url }}" class="c-item__link">
		<h3 class="c-item__title">
			{{ item.data.title if item.data.title else 'Untitled Item' }}
		</h3>
		<p class="c-item__meta">
			<time datetime="{{ item.date | htmlDateString }}">{{ item.date | formatDateLong }}</time>
		</p>
	</a>
</article>
{% endif %}
