<a href="/" class="c-logo" aria-label="{{ siteData.name }} - home">
    {% if siteData.logo %}
    <div>
        <img src="{{ siteData.logo }}"
             class="c-logo__image" 
             alt="{{ siteData.name }} logo" 
             loading="eager"
             decoding="async" />
    </div>
    {% else %}
    <span>{{ siteData.name }}</span>
    {% endif %}
</a>
