<nav class="c-navbar" aria-label="Primary Navigation">
    <div class="c-navbar__container">
        <ul class="c-navbar__list">
            {% for entry in collections.all | eleventyNavigation %}
            <li>
                <a href="{{ entry.url }}" 
                   class="c-navbar__link" 
                   {% if entry.url == page.url %}aria-current="page"{% endif %}>
                    {{ entry.title }}
                </a>
            </li>
            {% endfor %}
        </ul>
    </div>
</nav>
