{% set tooltip_text = tooltip_text | default("") %}
{% set tooltip_position = tooltip_position | default("bottom") %}

{% if tooltip_text %}
  {# The element that triggers the tooltip on hover would wrap this include #}
  {# Example: <div class="c-tooltip-container"> Hover me {% include 'tooltip.njk', ... %} </div> #}
  <span class="c-tooltip c-tooltip--{{ tooltip_position }}">
    {{ tooltip_text }}
  </span>
{% endif %}

