# Node.js dependencies and log files
/node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variable files
# Ensure .env files containing sensitive credentials are not committed.
.env
.env.local
.env.*.local # e.g., .env.development.local, .env.production.local

# 11ty build output
/_site/*

# Cache directories
.cache/
