---
layout: layouts/base.njk
title: "My Projects"
eleventyNavigation:
    key: "Projects"
---

<p>Here are some of the projects I have worked on:</p>
<ul>
    {% for project in collections.projects %}
        <li>
            <a href="{{ project.url }}">{{ project.data.title }}</a>
            <p>{{ project.data.excerpt }}</p>
        </li>
    {% endfor %}
</ul>
<p>Feel free to explore and reach out if you have any questions!</p>