{% extends layouts.base %}

{% block content %}
<div class="l-main py-12">
    <article class="prose max-w-none">
        {% include partials.intro %}
        <section>
            {{ content | safe }}
        </section>
    </article>
</div>
{% endblock %}

