{% extends layouts.base %}

{% block content %}
    {% include partials.header %}
    <section>
        {{ content | safe }}
    </section>
{% endblock %}

{% block cta %}
    {% set cta = ctas["blog"] %}
    {% include partials.cta %}
{% endblock %}