<!DOCTYPE html>
<html lang="en">
    <head>
        {% include partials.metaInfo %}
    </head>
    <body>
        {# Skip to content link (accessibility) #}
        <a href="#main-content">
            {{ site.skipToContentText }}
        </a>

        {# Site header with navigation #}
        {% include partials.banner %}
        <div>
            {# Main content area #}
            <main id="main-content" tabindex="-1">
                {% block content %}
                    {{ content | safe }}
                {% endblock %}
                {% if not hero %}
                    {% include partials.cta %}
                {% endif %}
            </main>

            {# Sidebar - only shows on larger screens #}
            {% if sidebar %}
                <aside>
                    {% include partials.sidebar %}
                </aside>
            {% endif %}
        </div>

        {# Site footer #}
        <footer>
            {% include partials.footer %}
        </footer>
    </body>
</html>
