<!DOCTYPE html>
<html lang="en">
    <head>
        {% include partials.meta %}
    </head>
    <body>
        {# Site header with navigation #}
        {% include partials.banner %}
        
        <div>
            {# Main content area #}
            <main id="main-content" tabindex="-1">
                {% block content %}
                    {{ content | safe }}
                {% endblock %}
                {% if not hero %}
                    {% include partials.cta %}
                {% endif %}
            </main>

            {% if sidebar %}
            <aside>
                {% include partials.sidebar %}
            </aside>
            {% endif %}
        </div>

        <footer>
            <div>
                {% include partials.footer %}
            </div>
        </footer>
    </body>
</html>
