{% extends layouts.base %}

{% block content %}
<article>
    {% include partials.intro %}
    <section>
        {{ content | safe }}
    </section>

    {% include components.form %}
</article>
{% endblock %}
