{% extends layouts.base %}

{% block content %}
<article class="surface__main container mx-auto px-4 py-8 bg-[var(--color-window-bg)] border-x-2 border-b-2 border-[var(--color-border)]">
    {% include partials.header %}
    {% include partials.contentDisplay %}
    {% include partials.pagination %}
</article>
{% endblock %}
