{% extends layouts.base %}

{% block content %}
<div>
    <div>
        {% include partials.hero %}
        
        {% if ctas and ctas.length > 0 %}
        <section>
            {% include partials.cta %}
        </section>
        {% endif %}
        
        {% if content.trim() %}
        <section>
            {{ content | safe }}
        </section>
        {% endif %}
    </div>
</div>
{% endblock %}
