{% extends layouts.base %}

{% block content %}
<div>
  <article>
    <div>
      <h1>
        {# TODO: Add intro eyebrow #}
        <em>{# TODO: Add intro main #}</em>
      </h1>
    </div>
    <div>
      <p>{# TODO: Add intro summary #}</p>
      <a>{# TODO: Add intro button text #}</a>
    </div>
    <div>
        {# TODO: Add intro media #}
    </div>
  </article>
</div>

{% include partials.cta %} 

{% endblock %}