{% extends layouts.base %}

{% block content %}
<article>
    {% include partials.intro %}
    <section>
        {{ content | safe }}
    </section>
    {% include partials.listing %}
</article>
{% endblock %}
