{% extends layouts.base %}

{% block content %}
<section class="portfolio-layout container mx-auto px-4 py-8 bg-[var(--os-window-bg)] border-x-2 border-b-2 border-[var(--os-border)]">
    {{ content | safe }}
    {% include partials.contentDisplay %}
</section>
{% endblock %}