{% extends layouts.base %}

{% block content %}
    <div class="l-main py-12">
        <article>
            {% include partials.intro %}

            <div class="prose max-w-none">
                {{ content | safe }}
            </div>

            {% set olderPost = collections.post | getPreviousCollectionItem %}
            {% set newerPost = collections.post | getNextCollectionItem %}

            {% if olderPost or newerPost %}
            <nav class="l-post-nav">
                {% if newerPost %}
                    <a href="{{ newerPost.url }}" class="l-post-nav__link">&larr; {{ newerPost.data.title }}</a>
                {% else %}
                    <span></span>
                {% endif %}

                {% if olderPost %}
                    <a href="{{ olderPost.url }}" class="l-post-nav__link">{{ olderPost.data.title }} &rarr;</a>
                {% endif %}
            </nav>
            {% endif %}
        </article>
    </div>
{% endblock %}
