---
layout: base
title: "Blog — Lucas Aquino de Assis"
eleventyNavigation:
    key: "Blog"
eleventyImport:
    collections: ["posts"]
---

<p>Welcome to my blog! Here you will find my latest thoughts and updates.</p>
<ul>
    {% for post in collections.post | reverse %}
        <li>
            <a href="{{ post.url }}">{{ post.data.title }}</a>
            {% if post.data.excerpt %}
                <p>{{ post.data.excerpt }}</p>
            {% endif %}
        </li>
    {% endfor %}
</ul>