---
layout: base
title: "Portfolio"
eleventyNavigation:
    key: "Portfolio"
eleventyImport:
    collections: ["project"]
---

<p>Here are some of the projects I have worked on:</p>
<ul>
    {% for project in collections.project %}
        <li>
            <a href="{{ project.url }}">{{ project.data.title }}</a>
            <p>{{ project.data.excerpt }}</p>
        </li>
    {% endfor %}
</ul>