{# Site header #}
{% set socials = socialData %}
<header role="banner">
    <div>
        <div>
			{# Skip to content link (accessibility) #}
			<a href="#main-content">
				{{ siteData.skipToContentText }}
			</a>

            {# Site Logo/Name #}
            {% include components.logo %}
            
            {# Navigation and Social Links Container #}
            <div>
                
                {# Primary Navigation - Hidden on mobile #}
                <div>
                    {% include components.navbar %}
                </div>

                {# Social Links #}
                <div>
                    {% include components.socials %}
                </div>

            </div>
        </div>
    </div>
</header>
