<article class="border border-[var(--os-border)] p-6 my-6">
    <div class="flex flex-col items-center text-center">
        <div class="max-w-2xl">
            <h2 class="text-2xl font-bold mb-3">{{ cta.title }}</h2>
            <p class="text-base mb-5">{{ cta.description }}</p>
            <div class="mt-5">
                <a href="{{ cta.url }}" class="button text-base">
                    {{ cta.buttonText }}
                </a>
            </div>
        </div>
    </div>
</article>