<footer class="p-footer">
    <div class="p-footer__container">
        <div class="p-footer__nav-socials">
            <div class="p-footer__logo">
                <a href="/" class="c-logo" aria-label="{{ siteData.name }} - home">
                    <img src="{{ siteData.logo }}" class="c-logo__image" alt="{{ siteData.name }} logo" />
                </a>
            </div>
            <div class="p-footer__nav">
                 {% include components.navbar %}
            </div>
            <div class="p-footer__socials">
                {% include components.socials %}
            </div>
        </div>
        <div class="p-footer__bottom-bar">
             <p class="p-footer__copyright">&copy; {{ "now" | year }} {{ siteData.authorName }}. All rights reserved.</p>
        </div>
    </div>
</footer>
