<footer class="bg-gray-800 text-white py-8 mt-auto">
    <div class="container mx-auto px-4 text-center">
        {% include partials.techStack %}
        <p>&copy; {{ page.date | justYear }} {{ site.authorName }}. All rights reserved. </p>
    </div>
</footer>