{% set headerTitle = header.title | default("") %}
{% set headerSummary = header.summary | default("") %}
{% set headerEyebrow = header.eyebrow | default("") %}

{% if headerTitle or headerSummary or headerEyebrow %}
<header>
    <div>
        {% if headerEyebrow %}
        <p>{{ headerEyebrow | safe }}</p>
        {% endif %}
        {% if headerTitle %}
        <h1>{{ headerTitle | safe }}</h1>
        {% endif %}
        {% if headerSummary %}
        <p>{{ headerSummary | safe }}</p>
        {% endif %}
    </div>
</header>
{% endif %}

