{% if hero %}
<section class="p-hero">
    <div class="p-hero__container">
        <div class="p-hero__content">
            {% if hero.eyebrow %}
            <div class="p-hero__eyebrow">
                <span>{{ hero.eyebrow | safe }}</span>
            </div>
            {% endif %}
            <h1 class="p-hero__title">
                {{ hero.title | default(title) | safe }}
            </h1>
            
            {% if hero.intro %}
            <p class="p-hero__intro">
                {{ hero.intro | safe }}
            </p>
            {% endif %}
        </div>
        <div class="p-hero__image-wrapper">
            <img src="/assets/icons/logo.svg" alt="Site Logo" class="p-hero__image">
        </div>
    </div>
</section>
{% endif %}
