{% if pageTitle or pageSummary or pageEyebrow %}
<header>
    <div>
        {% if pageEyebrow %}
        <p>{{ pageEyebrow | safe }}</p>
        {% endif %}
        {% if pageTitle %}
        <h1>{{ pageTitle | safe }}</h1>
        {% endif %}
        {% if pageSummary %}
        <p>{{ pageSummary | safe }}</p>
        {% endif %}
    </div>
</header>
{% endif %}