{% if pageHeader.title or pageHeader.summary or pageHeader.eyebrow %}
<header>
    <div>
        {% if pageHeader.eyebrow %}
        <p>{{ pageHeader.eyebrow | safe }}</p>
        {% endif %}
        {% if pageHeader.title %}
        <h1>{{ pageHeader.title | safe }}</h1>
        {% endif %}
        {% if pageHeader.summary %}
        <p>{{ pageHeader.summary | safe }}</p>
        {% endif %}
    </div>
</header>
{% endif %}