{% set listId = pagination.id | default("pagination") %}
{% set listNavLabel = pagination.navLabel | default("Pagination Navigation") %}
{% set listHeadingText = pagination.headingText | default("Pagination") %}
{% set prevText = pagination.prevText | default("Previous") %}
{% set nextText = pagination.nextText | default("Next") %}
{% set pageItemLabel = pagination.pageItemLabel | default("Go to page") %}
{% set anchor = pagination.anchor | default("") %}

{% set currentPage = pagination.pageNumber %}
{% set totalPages = pagination.pages.length %}
{% set pageHrefs = pagination.hrefs %}

{% if totalPages > 1 %}
<nav class="p-pagination" aria-label="{{ listNavLabel }}">
    <h2 id="{{ listId }}-heading" class="p-pagination__heading">{{ listHeadingText }}</h2>
    <ol class="p-pagination__list" aria-labelledby="{{ listId }}-heading">
        <li class="p-pagination__item">
            <a {% if pagination.href.previous %} href="{{ pagination.href.previous }}{{ anchor }}" {% else %} aria-disabled="true" {% endif %} rel="prev">{{ prevText }}</a>
        </li>

        {% set lastPageShown = -1 %}
        {% for i in range(0, totalPages) %}
            {% set pageNumToDisplay = i + 1 %}
            {% set isCurrentPage = (i == currentPage) %}

            {% set showPage = (
                i == 0 or
                i == totalPages - 1 or
                (i >= currentPage - 2 and i <= currentPage + 2)
            ) %}

            {% if showPage %}
                {% if lastPageShown != -1 and i > lastPageShown + 1 %}
                    <li class="p-pagination__ellipsis" aria-hidden="true">&hellip;</li>
                {% endif %}

                <li class="p-pagination__item">
                    {% if isCurrentPage %}
                        <span aria-current="page" aria-label="{{ pageItemLabel }} {{ pageNumToDisplay }} (current page)">{{ pageNumToDisplay }}</span>
                    {% else %}
                        <a href="{{ pageHrefs[i] }}{{ anchor }}" aria-label="{{ pageItemLabel }} {{ pageNumToDisplay }}">{{ pageNumToDisplay }}</a>
                    {% endif %}
                </li>
                {% set lastPageShown = i %}
            {% endif %}
        {% endfor %}
        <li class="p-pagination__item">
            <a {% if pagination.href.next %}href="{{ pagination.href.next }}{{ anchor }}"{% else %} aria-disabled="true" {% endif %} rel="next">{{ nextText }}</a>
        </li>
    </ol>
</nav>
{% endif %}

