{% if sidebar %}
<aside class="p-sidebar">
    {% if sidebar.recentPosts and sidebar.recentPosts.listing %}
    <section class="p-sidebar__section">
        {% set listing = sidebar.recentPosts.listing | merge({ "reverse": true }) %}
        
        {% include partials.listing %}
    </section>
    {% endif %}
</aside>
{% endif %}

