{% if sidebar %}
<aside>
    {# Recent Posts Section #}
    {% if sidebar.recentPosts and sidebar.recentPosts.contentDisplay %}
    <section>
        {% set contentDisplay = sidebar.recentPosts.contentDisplay | merge({ "reverse": true }) %}
        
        {% include partials.contentDisplay %}
    </section>
    {% endif %}
</aside>
{% endif %}
