<div>
    <p>Built with:</p>
    <ul>
        {% for tech in techData %}
        <li>
            <a href="{{ tech.url }}" target="_blank" rel="noopener noreferrer" title="{{ tech.name }}">
                <img src="{{ tech.iconSrc }}" alt="{{ tech.name }} logo">
            </a>
            <span>
                {{ tech.name }}
            </span>
        </li>
        {% endfor %}
    </ul>
</div>

