{% set tooltip_text = tooltip_text | default("") %}
{% set tooltip_position = tooltip_position | default("bottom") %}

{% if tooltip_text %}
  {% if tooltip_position == "top" %}
    <span class="tooltip-base tooltip-top">
      {{ tooltip_text }}
    </span>
  {% elif tooltip_position == "bottom" %}
    <span class="tooltip-base tooltip-bottom">
      {{ tooltip_text }}
    </span>
  {% elif tooltip_position == "left" %}
    <span class="tooltip-base tooltip-left">
      {{ tooltip_text }}
    </span>
  {% elif tooltip_position == "right" %}
    <span class="tooltip-base tooltip-right">
      {{ tooltip_text }}
    </span>
  {% endif %}
{% endif %}

