{% set tooltip_text = tooltip_text | default("") %}
{% set tooltip_position = tooltip_position | default("bottom") %}

{% if tooltip_text %}
  {% if tooltip_position == "top" %}
    <span>
      {{ tooltip_text }}
    </span>
  {% elif tooltip_position == "bottom" %}
    <span>
      {{ tooltip_text }}
    </span>
  {% elif tooltip_position == "left" %}
    <span>
      {{ tooltip_text }}
    </span>
  {% elif tooltip_position == "right" %}
    <span>
      {{ tooltip_text }}
    </span>
  {% endif %}
{% endif %}

